<!DOCTYPE html>
<html>
  <head>
    <title>Todollo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag asset_path('favicon/favicon.ico') %>

    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <script type="text/javascript">
      window.session_left_img = "<%= image_url('session-left-img.png') %>";
      window.session_right_img = "<%= image_url('session-right-img.png') %>";
      window.splash_img = "<%= image_url('splash-img.png') %>";
    </script>     
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
